body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 2100px;
    background-color: lightpink;
}

.square {
    background-color: white;
    width: 1090px;
    height: 2000px;
}

/* Navigation Bar*/
.navigation {
    display: block;
    height: 70px;
    line-height: 50px;
    background-color: white;
    margin: 20px 60px;
}

.navigation ul {
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 24px;


}

img {
    weight: 100px;
    height: 100px;

}

.navigation li {
    float: right;
}

.navigation li a {
    display: inline-block;
    padding: 12px 12px;
    background-color: white;
    color: black;
    text-decoration: none;
}

.navigation a:hover {
    background-color: lightpink;
}

/* picture and words*/
.salutation {
    padding: 12px 12px;
    margin: 50px;
    display: flex;


}

.salutation button {
    background-color: pink;
    border: none;
    color: white;
    text-align: center;
    padding: 15px 32px;
    margin: 2px 2px;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 pink, 0 6px 20px 0 rgb(199, 169, 174);

}

.pict {
    float: right;
}

.pict img {
    border-radius: 50%;
    weight: 250px;
    height: 250px;
    margin-left: 200px;
}

/* parts of latest Post*/
.post {
    align-items: center;
    justify-content: center;
    margin: 70px;
    font-size: 18px;

}

/* parts of project*/

.project {
    background-color: pink;
    width: 1090px;
    height: 400px;
}

.project {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.project,
.project>.column {
    padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: white;
    padding: 20px;
    margin: 20px 20px;
    align-items: center;
}

/* Forms for subscription */

input[type=text],
select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=subscribe] {
    width: 50%;
    background-color: pink;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=subscribe]:hover {
    background-color: lightpink;
}

.subscri {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 50%;
    display: block;
    margin: auto;
    margin-top: 40px;
}

/* Footer */


#footer .twitter {
    background-color: rgb(226, 195, 200);
    background-repeat: no-repeat;
    background-position: 0 0;
}

#footer .linkedin {
    background-color: rgb(226, 195, 200);
    background-repeat: no-repeat;
    background-position: -78px 0;
}

#footer .facebook {
    background-color: rgb(226, 195, 200);
    background-repeat: no-repeat;
    background-position: -233px 0;
}

#footer a {
    height: 50px;
    width: 50px;
    display: inline-block;
    margin: 10px;
}

#footer a:hover {
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

#footer .twitter:hover {
    background-position: 0 -56px;
}

#footer .facebook:hover {
    background-position: -233px -56px;
}

#footer .linkedin:hover {
    background-position: -78px -56px;
}



.bg-dark-1 {
    background-color: pink;
    margin-top: 50px;

}