body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 800;
    height: 1200px;
    background-color: lightpink;
}

.square {
    background-color: white;
    width: 800px;
    height: 1100px;
}

/* Navigation Bar*/
.navigation {
    display: block;
    height: 50px;
    line-height: 50px;
    background-color: white;
    margin: 20px 20px 20px 20px;
}

.navigation ul {
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

img {
    weight: 70px;
    height: 70px;

}

.navigation li {
    float: right;
}

.navigation li a {
    display: inline-block;
    padding: 8px 8px;
    background-color: white;
    color: black;
    text-decoration: none;
}

/* picture and words*/
.salutation {
    padding: 12px 12px;
    margin: 50px;
    display: flex;


}

.salutation button {
    background-color: pink;
    border: none;
    color: white;
    text-align: center;
    padding: 15px 32px;
    margin: 2px 2px;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 pink, 0 6px 20px 0 rgb(199, 169, 174);

}

.pict {
    float: right;
}

.pict img {
    border-radius: 50%;
    weight: 200px;
    height: 200px;
    margin-left: 200px;
}

/* parts of latest Post*/
.post {
    align-items: center;
    justify-content: center;

}

/* parts of project*/

.project {
    background-color: pink;
    width: 800px;
    height: 250px;
}